$text-primary: #0F172B;
$text-secondary: #314158;

$surface-primary: #F8FAFC;
$surface-secondary: #E2E8F0;

$interface-primary: #615FFF;
$interface-secondary: #7C86FF;
$interface-bold: #4F39F6;

$error-primary: #FB2C36;
$error-secondary: #FF6467;
$error-bold: #E7000B;

$success-primary: #00C950;
$success-secondary: #05DF72;
$success-bold: #00A63E;

$info-primary: #F0B100;
$info-secondary: #FDC700;
$info-bold: #D08700;

$neutral-primary: #62748E;
$neutral-secondary: #90A1B9;
$neutral-bold: #45556C;