$text-primary: #0f172b;
$text-secondary: #314158;

$surface-primary: #f8fafc;
$surface-secondary: #e2e8f0;

$interface-primary: #615fff;
$interface-secondary: #7c86ff;
$interface-bold: #4f39f6;

$error-primary: #fb2c36;
$error-secondary: #ff6467;
$error-bold: #e7000b;

$success-primary: #00c950;
$success-secondary: #05df72;
$success-bold: #00a63e;

$info-primary: #f0b100;
$info-secondary: #fdc700;
$info-bold: #d08700;

$neutral-primary: #62748e;
$neutral-secondary: #90a1b9;
$neutral-bold: #45556c;
